.footer-bkg {
  background-color: #005304;
  padding: 1%;
  display: grid;
  justify-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer-p {
  color: #ffffff;
}

.github {
  max-width: 30px;
}

.linkedin {
  max-width: 30px;
}

.links-container {
  width: 100px;
  display: flex;
  justify-content: space-around;
}
