.header-container {
  background-color: #fdea73;
  color: #005304;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  align-items: center;
}

.header-log {
  grid-column: 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  font-size: 12px;
  cursor: pointer;
}

.home-logo {
  max-width: 70px;
}

.logo-cotainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: end;
}
