.sign-up-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 10%;
}

.sign-up-lt {
  grid-column: 1;
  grid-row: 1;
}

.sign-up-img {
  max-width: 400px;
}

.sign-up-title {
  max-width: 450px;
  margin: auto;
  margin-top: 5%;
  text-align: center;
}

.sign-up-form {
  grid-column: 2;
  grid-row: 1;
}

.sign-up {
  background-color: #fdea73;
  margin-top: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  border-radius: 6px;
}

.form-container-sign-up {
  max-width: 450px;
  margin-top: 10%;
}

.sign-up-input {
  width: 350px;
  margin: 2%;
}

.sign-up-all-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.act-btn {
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: #005304;
  border: none;
  border-radius: 12px;
  font-family: "Questrial", sans-serif;
  color: #ffff;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
}

@media (max-width: 375px) {
  .sign-up-title {
    font-size: 25px;
    text-align: center;
  }
  .sign-up-img {
    max-width: 250px;
  }
  .sign-up-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .sign-up-form {
    grid-column: 1;
    grid-row: 2;
  }
  .sign-up-lt {
    display: grid;
    justify-items: center;
  }
}
@media (max-width: 780px) {
  .sign-up-title {
    font-size: 25px;
    text-align: center;
  }
  .sign-up-img {
    max-width: 250px;
  }
  .sign-up-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .sign-up-form {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    justify-items: center;
  }
  .sign-up-lt {
    display: grid;
    justify-items: center;
  }
  .sign-up {
    max-width: 500px;
  }
}
