.home-zone {
  display: grid;
  justify-content: center;
  color: #005304;
  font-size: 38px;
  text-shadow: 2px 2px #c9d8ca;
}

.home-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 20px;
  margin: 5%;
  justify-items: center;
}

.zone-buttons {
  background-color: #fdea73;
  border: none;
  border-radius: 12px;
  font-family: "Questrial", sans-serif;
  color: #005304;
  font-size: 25px;
  padding: 30px;
  width: 150px;
  height: 100px;
  cursor: pointer;
  text-shadow: 2px 2px #c9d8ca;
}
.hone-link {
  text-align: center;
  color: #005304;
  font-size: 18px;
}

.link-zip {
  text-decoration: underline;
  color: #005304;
}

.home-image {
  max-width: 650px;
}

.home-into {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

.home-image-container {
  display: grid;
  justify-items: center;
}

@media (max-width: 375px) {
  .home-buttons {
    grid-template-columns: repeat(2, 1fr);
  }
  .home-into {
    font-size: 20px;
  }
  .home-image {
    max-width: 350px;
  }
}

@media (max-width: 720px) {
  .home-buttons {
    grid-template-columns: repeat(2, 1fr);
  }
  .home-into {
    font-size: 20px;
  }
  .home-image {
    max-width: 350px;
  }
}
